

pandas
s3fs==23.10.0
st-files-connection
streamlit==1.20.0        # Ensure you're using the version of Streamlit you need
pandas==1.5.3            # Data manipulation
numpy==1.23.3            # For numerical operations
matplotlib==3.6.2        # For plotting graphs
boto3==1.26.13           # AWS SDK for Python
colorama==0.4.6          # For terminal color support (optional)
bcrypt==4.0.1            # For hashing passwords
